:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 20;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* .center {
  display: flex;
  justify-content: center;
} */

#grid-container {
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols), auto);

  height: 500px;
  width: 500px;
  display: inline-grid;
  grid-gap: 1px;
  border: 1px solid black;
  border-radius: 2px;
}

.grid-item {
  padding: 0.5em;
  border: 1px solid white;
  /* background: white; */
}

.line1,
.line2,
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}