:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 20;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
  display: inline-grid;
  height: 1000px;
  width: 1000px;
}

.gridRow {
  display: flex;
  justify-content: center;
}
.gridCol {
  display: flex;
  border: 1px solid white;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1vh;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar .input {
  margin-top: 10px;
  padding-left: 2.375rem;
  width: 526px;
  height: 34px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(240, 235, 236);
  height: 40px;
}

.searchBar .input:hover {
  display: flex;
}

.selected {
  background-color: orange;
}
