:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 20;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* .center {
  display: flex;
  justify-content: center;
} */

#grid-container {
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols), auto);
  height: 500px;
  width: 500px;
  display: inline-grid;
  grid-gap: 1px;
  border: 1px solid black;
  border-radius: 2px;
}

.grid-item {
  display: flex;
  padding: 0.001em;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  /* background: white; */
}

.line1,
.line2,
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar .input {
  margin-top: 10px;
  padding-left: 2.375rem;
  width: 526px;
  height: 34px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(240, 235, 236);
  height: 40px;
}

.searchBar .input:hover {
  display: flex;
}

.slideParent {
  position: relative;
}
.buble {
  position: absolute;
}
